@import "settings.css" all;
@import "fonts.css" all;
@import "reset.css" all;
/*

.wr-preview{
    background-image: url("../images/section1/header.png"), url("../images/section1/background.jpg") ;
    background-repeat: no-repeat;
    background-size: contain, cover;
    padding-bottom: 142px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 96px;
}
header img{
    width: 156px;
}
header ul{
    display: flex;
    height:100%;
}
header nav{
    max-width: 813px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
header nav a{
    font-family: "Gentium Book Basic";
    font-size: 21px;
    text-transform: capitalize;
}
header nav li{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
header nav .nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .nav-menu li:hover{
    border-top: 3px solid #cdcbc0;
    border-bottom: 3px solid transparent;
}

header nav .social{
    align-items: center;
}
header .social li {
    margin-left: 17px;
}
header .social a {
    color: #dab33e;
}

.wr-promo{
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wr-promo h1{
    margin-bottom: 24px;
    font-family: "YesevaOne-Regular";
    font-size: 90px;
    color: #ffffff;
    text-align: center;
    line-height: 117px;
}
.wr-promo img{
    margin-bottom: 35px;
    padding-left: 8px;
}

.btn-container{
    width: 486px;
    display: flex;
    justify-content: space-between;
    font-family: "Lato-Regular";
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    box-sizing : border-box;
}
.btn{
    width: 228px;
    height: 57px;
}
.btn-left{
    border: 1px solid #292929;
    background-color: rgba(0,0,0, 0.7);
}
.btn-left:hover{
    border: 1px solid #000;
    background-color: rgba(0,0,0, 0.4);
}
.btn-right{
    border: 1px solid #c2c2c2;
    background-color: rgba(255,255,255, 0.28);
}
.btn-right:hover{
    border: 1px solid #fff;
    background-color: rgba(255,255,255, 0.2);
}

.wr-about{
    background-image: url("../images/section2/pattern.png"), linear-gradient(133deg, rgba(255,255,255,0.09) 0%, rgba(255,255,255,0.09) 35%, rgba(0,0,0,0.09) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.14);
}
.wr-about .container{
    display: flex;
}
.about-content{
    max-width: 412px;
    width: 100%;
    margin-left: 112px;
    margin-right: 32px;
    padding: 102px 0 113px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: justify;
}
.about-content h2{
    margin-bottom: 17px;
    font-family: "YesevaOne-Regular";
    font-size: 36px;
    color: #cc9900;
}
.about-content p{
    margin-bottom: 50px;
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.about-devider{
    margin-bottom: 26px;
}
.about-chief{
    margin-left: 133px;
    align-self: flex-start;
}
.about-dish{
    width: 621px;
    margin-top: 23px;
    object-fit: contain;
    !*на мобильных устройствах картинка картинка уезжает*!
    position: relative;
}

.wr-ingredients{
    padding: 100px 0;
    align-items: center;
    background-image: url('../images/section3/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner-ingredients{
    width:570px;
    margin-left: auto;
    margin-right: 32px;
    padding: 78px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/section3/text-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

}
.wr-ingredients h2{
    font-family: "YesevaOne-Regular";
    font-size: 36px;
    padding-bottom: 18px;
}
.wr-ingredients p{
    width: 430px;
    margin-bottom: 70px;
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
}
.wr-ingredients img[alt="devider"]{
    margin-bottom: 24px;
}
.ingredients-images{
    width: 392px;
    display: flex;
    justify-content: space-between;
}
.ingredients-img{
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255,255,255,0.09);
    border-radius: 50%;
    background-clip: content-box;
    background-repeat: no-repeat;
}
.img1{
    background-image: url('../images/section3/bread.png');
    background-position: left 40% top 50%;
}
.img2{
    background-image: url('../images/section3/spices.png');
    background-position: left 30% top 80%;
}
.img3{
    background-image: url('../images/section3/wheat.png');
    background-position: left 25% top 40%;
}

.wr-menu{
    height: 100%;
    padding: 104px 0 31px;
    background-image: url('../images/section4/pattern.png'), linear-gradient(134deg, rgba(32,90,91,0.09) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.14);
}

.wr-menu .container{
    max-width: 1085px;
    max-height: 860px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}
.menu{
    width :430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    padding: 0px 20px;
    color:#cc9900;
}
.price-position{
    height: 98px;
    width: 100%;
}
.special-price{
    width: 455px;
    height: 102px;
    position: relative;
    top: -90px; left: -14px;
    background-image: url("../images/section4/special-price.png");
    background-repeat: no-repeat;
}
.menu h2{
    font-family: "YesevaOne-Regular";
    font-size: 36px;
    margin-bottom: 18px;
}
.menu img[alt="devider"]{
    margin-bottom: 30px;
}
.menu img[alt="line-devider"]{
    margin-bottom: 12px;
}
.menu h3{
    font-family: "YesevaOne-Regular";
    font-size: 21px;
    float: left;
    width: 50%;
    margin-bottom: 6px;
}
.menu-price{
    text-align: right;
}
.menu p{
    font-family: "Lato-Regular";
    font-size: 16px;
    color:#4c4c4c;
}
.wr-reviews{
    padding: 100px 0;
    background-image: url('../images/section5/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.conteiner-reviews{
    width: 770px;
    margin: 0 auto;
    padding: 78px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/section5/text-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.conteiner-reviews h2{
    padding-bottom: 18px;
    font-family: "YesevaOne-Regular";
    font-size: 36px;
}
.conteiner-reviews img[alt="devider"]{
    margin-bottom: 21px;
}
.conteiner-reviews p{
    width: 630px;
    margin-bottom: 35px;
    color: #dde0df;
    font-family: "GentiumBookBasic-Bold";
    font-size: 25px;
    text-align: center;
    line-height: 1.8em;
}
.conteiner-reviews span{
    font-family: "MyriadPro-Regular";
    font-size: 18px;
    letter-spacing: 0.4px
}

.wr-reservations{
    padding: 100px 0;
    background-image: url('../images/section6/background.png'),linear-gradient(103deg, rgba(12,52,53,0.07) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}
.wr-reservations .container{
    display: flex;
    padding-left: 47px;
}
.dishes-image{
    width: 270px;
    height: 508px;

}
.dishes-image:first-child{
    margin-right: 30px;
}
.reservations-content{
    width: 430px;
    margin-left: 100px;
}
.reservations-content .reservations-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 41px;
    text-align: justify;
}
.reservations-text h2{
    margin-bottom: 17px;
    font-family: "YesevaOne-Regular";
    font-size: 36px;
    text-align: center;
    color: #cc9900;
}
.reservations-text img[alt="devider"]{
    margin-bottom: 26px;
}
.reservations-text p{
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.reservations-text p:first-of-type{
    margin-bottom: 10px;
}

.reservations-content form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reservations-content form div{
    margin-bottom: 6px;
}
.reservations-content form p{
    margin: 0;
    padding-bottom: 7px;

    font-family: "OpenSans-Bold";
    font-size: 14px;
    text-align: left;
    color: #cc9933;
}
.reservations-content input:focus{
    border: 1px solid #c89f2d;
    padding: 2px;
}
.reservations-content input[type="text"]{

    max-width: 200px;
    height: 30px;
    margin-bottom: 27px;
    padding-left: 16px;
    font-family: "OpenSans-Italic";
    font-size: 16px;
}
.reservations-content input[type="submit"]{
    width: 200px;
    height: 35px;
    margin: 0 auto;
    background-color: #c89f2d;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "OpenSans-Regular";
    font-size: 16px;
}
.reservations-content form img{
    position: relative;
    left: -30px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 1.5rem;
}
footer .container{
    display: flex;
    padding: 60px 0 52px 34px
}
footer .content-column{
    max-width: 360px;
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .content-column:first-child{
    font-family: "OpenSans-Regular";
}
footer .content-column:first-child span{
    font-family: "OpenSans-Bold"
}
footer .content-column:first-child p{
    width: 360px;
}
footer span{
    font-family: "MyriadPro-Regular";
}
footer h3{
    font-family: "YesevaOne-Regular";
    font-size: 21px;
    margin-bottom: 16px;
}
footer img[alt="devider"]{
    margin-bottom: 18px;
}
footer p{
    width: 100%;
    font-family: "MyriadPro-Light";
    font-size: 18px;
}
footer .content-column:first-child p{

}
footer i{
    margin: 0 4px;
    color:#ffffff;
}
footer .icons{
    margin-top: auto;
}

*/
