@import "./settings.css" all;
@import "./fonts.css" all;
@import "./reset.css" all;


.wr-header {
    background-image: url("../images/1-header/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.wr-header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "SourceSansPro Bold";
    font-size: 16px;
    color: #212121;
}
.wr-header .logo {
    font-size: 18px;
}
.wr-header a{
    color: #212121;
}
